@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-obsidian: #0B0B0B;
  --color-gold: #C5A059;
  --color-alabaster: #F5F5F5;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
